<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
 <h3>Sistema de Pedidos</h3>
 <img src="assets/telaInicial.png" alt="logo">

 <form>
   <ion-item>
     <ion-label position="stacked">Email</ion-label>
     <ion-input [(ngModel)]="creds.email" name="email" type="text"></ion-input>
   </ion-item>
   <ion-item>
    <ion-label position="stacked">Senha</ion-label>
    <ion-input [(ngModel)]="creds.senha" name="senha" type="password"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="login()" >Entrar</ion-button>
 </form>

<ion-button expand="block" fill="outline">Registrar</ion-button>

</ion-content>
